.Listing-page {
    overflow: scroll;
    font-family: Helvetica, sans-serif;
    height: 90vh;
    scroll-behavior: auto;
}
.Listing-header {
    font-size:13px;
}
.Listing-header .bold {
    font-weight:bold;
}
.Listing-date {
    color: gray;
}
.Listing-message {
    font-size:14px;
    margin-bottom: 10px;
}